*.out
ckpt/*
data/MSL/*
data/SMAP/*
data/SMD/*
data/PSM/*
data/GECCO/*
data/SWAN_SF/*
data/UCR/*
viz/
wandb/
*.png
**/__pycache__/

!ckpt/.gitkeep
!data/MSL/make_dataset.py
!data/MSL/make_test_labels.py
!data/SMAP/make_dataset.py
!data/SMAP/make_test_labels.py
!data/SMD/make_dataset.py
!data/PSM/make_dataset.py
!data/GECCO/make_dataset.py
!data/SWAN_SF/make_dataset.py
!data/UCR/make_dataset.py